.body2{
  background-color: #5474fc
}

.body1{
 float: right;
  background-image: url("https://i.ibb.co/Zhw0BVq/1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #5474fc

}



form{
  color: white;
  font-size: 20px;
}

.heading{
margin-right: 20px;
  font-size: 100px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

.subheading{
margin-right: 20px;
  font-size: 30px;
  color: white;
  font-family: monospace;
  font-weight: bold;
}
.subheading2{

  font-size: 30px;
  color: white;
  font-family: cursive;
  font-weight: bold;
}
.button{


  background-color: white;

font-family: sans-serif;
  border-radius: 30px;
  color: #5474fc ;
  width: 200px;
  padding: 20px;
  border-style: solid ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
